#accordion-section-colors
{
	display: none !important;
}
#breadcrumbs-display-blog-page
{
	display: none !important;
}	
#customize-control-after_menu_btn_txt
{
	display: none;
}
#customize-control-after_menu_btn_link
{
	display: none;
}
#customize-control-after_menu_btn_new_tabl
{
	display: none;
}    	
#customize-control-after_menu_btn_border
{
	display: none;
}    
#customize-control-after_menu_html
{
	display: none;
}